body {
  background: linear-gradient(to bottom, #00111a, #000);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.area {
  background: #14532d;
  padding: 20px;
  margin: 15px;
  border-radius: 15px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.card {
  background: white;
  color: black;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
}

button {
  padding: 10px 18px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  background: #1e88e5;
  color: white;
}

button:hover {
  opacity: 0.8;
}

.betOptions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.betOptions button {
  background: gold;
  color: black;
  border-radius: 50px;
}
